@use '../utils' as *;

/*----------------------------------------*/
/*  03.BACKGROUND COLOR CSS START
/*----------------------------------------*/

/*--- Background color
-----------------------------------------*/
.white-bg {
	background-color: var(--clr-common-white);
}
.black-bg {
	background-color: var(--clr-common-black);
}
.section-bg {
	background-color: var(--clr-common-heading) !important;
}
.grey-bg {
	background-color: var(--clr-bg-grey-1) !important;
}
.grey-bg-2 {
	background-color: var(--clr-bg-grey-2)
}
.footer-bg {
	background-color: var(--clr-bg-footer)
}