@use '../utils' as *;

/*----------------------------------------*/
/*  13. COUNTER CSS START
/*----------------------------------------*/

// CONTACT STYLE
.contact {
	&__info {
		&-wrapper {
			margin-right: 50px;
			@media #{$xs,$sm,$md,$lg}{
				margin-right: 0px;
			}
		}
		&-item {
			display: flex;
			align-items: center;
			gap: 20px;
			border-bottom: 1px solid var(--clr-border-10);
			padding-top: 30px;
			padding-bottom: 30px;
			@media #{$xs}{
				flex-wrap: wrap;
				gap: 10px 20px;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
		&-icon {
			height: 60px;
			width: 60px;
			min-width: 60px;
			display: inline-block;
			line-height: 60px;
			text-align: center;
			border-radius: 50%;
			overflow: hidden;
			font-size: 20px;
			background-clip: border-box;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: -webkit-linear-gradient(0deg, #0ed5fa 0%, #684cb1 100%);
			position: relative;
			&::after {
				position: absolute;
				content: "";
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				background:var(--clr-bg-grey-4);
			}
		}
		&-content {
			@media #{$xs}{
				margin-top: 20px;
			}
			span {
				font-size: 16px;
				color: #777a7e;
				font-weight: 500;
				margin-bottom: 5px;
				display: inline-block;
				text-transform: capitalize;
			}
			h5 {
				a {
					font-size: 20px;
					&:hover {
						color: var(--clr-theme-1);
					}
				}
			}
		}
	}
	&__from {
		&-input {
			margin-bottom: 20px;
			input {
				height: 60px;
				width: 100%;
				background: var(--clr-bg-grey-4);
				border: none;
				padding: 15px 20px;
				border-radius: 6px;
				border: 1px solid transparent;
				outline: 0;
				@include transition(.3s);
				color: #777a7e;
				&::placeholder {
				color: #777a7e ;
				}
				&:focus {
					border: double 1px transparent;
					background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(to right, #0ed5fa, #684cb1);
					background-origin: border-box;
					background-clip: padding-box, border-box;
				}
			}
			textarea {
				height: 60px;
				width: 100%;
				background: var(--clr-bg-grey-4);
				border: none;
				padding: 15px 20px;
				border-radius: 6px;
				outline: 0;
				min-height: 170px;
				color: #777a7e;
				resize: none;
				border: 1px solid transparent;
				@include transition(.3s);
				&::placeholder {
				color: #777a7e ;
				}
				&:focus {
					border: double 1px transparent;
					background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(to right, #0ed5fa, #684cb1);
					background-origin: border-box;
					background-clip: padding-box, border-box;
				}
			}
		}
	}
	&__select {
		position: relative;
		select {
			height: 60px;
			width: 100%;
			background: var(--clr-bg-grey-4);
			border: none;
			padding: 15px 15px;
			border-radius: 6px;
			outline: 0;
			color: #777a7e;
			position: relative;
			appearance: none;
		}
		&::after {
			position: absolute;
			content: "\f107";
			background-color: transparent;
			top: 18px;
			right: 27px;
			width: 0;
			height: 0;
			font-family: var(--bd-ff-fontawesome);
			color: #777a7e;
			font-size: 16px;
		}
	}
}

// Contact Cta Style
.contact {
	&__cta {
		&-wrapper {
			padding: 65px 70px 35px;
			@include border-radius(6px);
			z-index: 22;
			position: relative;
			@media #{$xs,$xl}{
				padding: 65px 30px 35px;
			}
		}
		&-content {
			display: flex;
			align-items: center;
			gap: 60px;
			@media #{$xs,$sm,$md}{
				flex-wrap: wrap;
				gap: 30px;
			}
		}
	}
}
.cta {
	&__description {
		position: relative;
		padding-left: 45px;
		max-width: 450px;
		@media #{$xs,$sm,$md}{
			padding-left: 0;
		}
		p {
			color: var(--clr-common-white);
			font-size: 18px;
			margin-bottom: 0;
		}
		&::before {
			height: 70px;
			width: 1px;
			background: var(--clr-common-white);
			opacity: 0.2;
			position: absolute;
			content: "";
			top: -8px;
			left: 0px;
			@media #{$xs,$sm,$md}{
				display: none;
			}
		}
	}
	&-contact {
		&__info {
			display: flex;
			align-items: center;
			gap: 30px;
			@media #{$xs}{
				flex-wrap: wrap;
			}
		}
	}
	&__number {
		&-icon {
			height: 60px;
			width: 60px;
			min-height: 60px;
			display: inline-block;
			line-height: 60px;
			background-color: var(--clr-common-white);
			text-align: center;
			border-radius: 50%;
		}
		&-text {
			span {
			color: #8f96a0;
			margin-bottom: 3px;
			display: block;
			}
			h3 {
				a {
					color: var(--clr-common-white);
					&:hover {
						color: var(--clr-theme-1);
					}
				}
			}
		}
	}
}

// Google map style
.google {
	&__map {
		&-inner {
			position: relative;
			margin-top: -80px;
			iframe {
				min-height: 550px;
				width: 100%;
				margin-bottom: -8px;
			}
		}
	}
}
