@use '../utils' as *;

/*----------------------------------------*/
/*  14. COUNTER CSS START
/*----------------------------------------*/

// COUNTER STYLE
.counter {
	&__bg {
		&-area {
			position: relative;
			border-radius: 10px;
			z-index: 5;
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0px;
				width: 100%;
				height: 100%;
				opacity: 0.902;
				background-image: linear-gradient(to right, #141f2b, #141f2b, #0ed5fa, #684cb1);
				background-position: 100% 100%;
				background-size: 300% 100%;
				border-radius: 10px;
			}
		}
	}
	&__item {
		position: relative;
		z-index: 9;
		&-two {
			position: relative;
			z-index: 2;
			h2 {
				font-size: 80px;
				line-height: 1;
				margin-bottom: 0;
				display: inline-block;
				position: relative;
				background: linear-gradient(to bottom, #fff , rgba(255,255,255,.0) );
				background-clip: border-box;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
			}
			i {
				width: 40px;
				height: 40px;
				border-radius: 50px;
				text-align: center;
				line-height: 40px;
				background: var(--clr-common-white);
				color: var(--clr-body-heading);
				margin-bottom: 20px;
			}
			p {
				margin-top: -20px;
				color: var(--clr-common-white);
				font-size: 14px;
				font-weight: 500;
				line-height: 26px;
			}
		}
		&-number {
			h2 {
				font-size: 80px;
				color: var(--clr-common-white);
				line-height: 1.2;
				margin-bottom: 0;
				display: inline-block;
				@media #{$md} {
				   font-size: 68px;
				}
				@media #{$xs} {
				   font-size: 58px;
				}
			}
			p {
				color: var(--clr-common-white);
				font-size: 14px;
				line-height: 1.2;
				font-weight: var(--bd-fw-sbold);
			}
			span {
				display: inline-block;
				font-size: 80px;
				color: #fff;
				font-weight: 700;
				position: absolute;
				top: 30px;
				@media #{$xs} {
				  font-size: 58px;
				  top: 15px;
				}
			}
		}
		&-three {
			position: relative;
				span {
				color: var(--clr-common-white);
				font-size: 80px;
				position: relative;
				background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
				background-clip: border-box;
				background-clip: border-box;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text;
				font-weight: 700;
				position: absolute;
				top: -25px;
			}
		
		}
	}
}

// COUNTER STYLE-2
.counter {
	&__overlay {
		position: relative;
		z-index: 5;
		&:after {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			background-image: -moz-linear-gradient( 0deg, rgb(11,218,253) 0%, rgb(106,72,175) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(11,218,253) 0%, rgb(106,72,175) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(11,218,253) 0%, rgb(106,72,175) 100%);
			top: 0;
			left: 0;
			opacity: 0.902;
			z-index: -1;
		}
	}
	&__main {
		&-wrapper {
			border-radius: 10px;
			overflow: hidden;
			padding-top: 60px;
		}
	}
	&-icon {
		button {
			width: 40px;
			height: 40px;
			border-radius: 50px;
			text-align: center;
			line-height: 40px;
			background: var(--clr-common-white);
			color: var(--clr-common-heading);
			margin-bottom: 20px;
		}
	}
	&__number {
		position: relative;
		h2 {
			font-size: 80px;
			line-height: 1;
			margin-bottom: 0;
			display: inline-block;
			position: relative;
			background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
			background-clip: border-box;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			@media #{$lg,$sm}{
				font-size: 65px;
			}
		}
	}
	&__title {
		p {
			color: var(--clr-common-white);
			font-size: 14px;
			font-weight: var(--bd-fw-sbold);
			margin-bottom: 0;
			transform: translateY(-22px);
		}
	}
}

