@use '../utils' as *;

/*----------------------------------------*/
/*  17. FAQ CSS START
/*----------------------------------------*/

// FAQ BANNER
.faq {
	&__banner {
		&-area {
			min-height: 450px;
			position: relative;
			background: var(--clr-bg-grey-3);
			z-index: 5;
		}
		&-thumb {
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			@media #{$xs}{
				display: none;
			}
		}
		&-title {
			h2 {
				font-size: 60px;
				margin-bottom: 50px;
				color: var(--clr-common-black);
				@media #{$xl}{
					font-size: 55px;
				}
				@media #{$lg}{
					font-size: 50px;
				}
				@media #{$sm,$md}{
					font-size: 45px;
				}
				@media #{$xs}{
					font-size: 36px;
				}
			}
		}
	}
	&__info {
		&-warapper {
			max-width: 750px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
	&__search {
		&-input {
			position: relative;
			input {
				height: 60px;
				width: 100%;
				background: var(--clr-common-white);
				border: 0;
				padding-left: 20px;
				padding-right: 150px;
				position: relative;
				font-size: 16px;
				outline: none;
				text-transform: capitalize;
				@media #{$xs} {
					padding-right: 20px;
				}
				@include border-radius(6px);
				&::placeholder {
					color: var(--clr-text-4);
				}
			}
			button {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0px 39px;
				height: 60px;
				@include border-radius(0px 4px 4px 0px);
				text-transform: uppercase;
				font-size: 16px;
				font-weight: var(--bd-fw-sbold);
				background-image: linear-gradient(to right, #684cb1, #0ed5fa, #0ed5fa, #684cb1);
				border: none;
				outline: none;
				box-shadow: none;
				color: var(--clr-common-white);
				background-position: 100% 100%;
				background-size: 300% 100%;
				@include transition(.3s);
				&:hover {
				  background-position: 0% 100%;
				  color: var(--clr-common-white);
				}
				@media #{$xs}{
					position: static;
					margin-top: 20px;
					@include border-radius(4px 4px 4px 4px);
				}
			}
		}
	}
}
// FAQ TOPIC
.faq {
	&__topic {
		&-items  {
			background: transparent;
			border: 1px solid #edeef2;
			padding: 50px 25px 35px 25px;
			@include border-radius(6px);
			@include transition(0.3s);
			@include box-shadow(0 30px 60px rgba(10,25,87,.07));
			background-color: var(--clr-common-white);
		}
		&-icon {
			transition: 0.3s;
			img {
				margin-bottom: 33px;
			}
		}
		&-content {
			h4 {
				a {
					font-size: 24px;
					margin-bottom: 20px;
					display: block;
					@media #{$xl}{
						font-size: 20px;
					}
					&:hover{
						color: var(--clr-theme-1);
					}
				}
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}
.bd-faq__accordion--page.bd-faq__accordion .accordion-button {
	box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
}