@use '../utils' as *;

/*----------------------------------------*/
/*  30. TEAM CSS START
/*----------------------------------------*/
.singel__team-thumb {
	position: relative;
    @include border-radius(6px);
    overflow: hidden;
	img {
		width: 100%;
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		background-color: transparent;
		background-image: linear-gradient(180deg,#684CB1 35%,#0ED5FA 100%);
        z-index: 1;
	}
}
.singel__team-content {
	position: absolute;
	content: "";
    bottom: 50%;
	left: 0;
	right: 0;
	max-width: 300px;
	padding: 20px 15px 20px;
	text-align: center;
	margin: auto;
	transform: translateY(50%);
    opacity: 0;
    visibility: visible;
    @include transition(.3s);
    margin-bottom: -60px;
    z-index: 5;
}
.singel__team-item {
    &:hover {
        .singel__team-thumb {
            img {
                @include transform(scale(1.1))
            }
            &::before {
                opacity: 0.8;
                visibility: visible;
            }
        }
        .singel__team-content {
            opacity: 1;
            visibility: visible;
            margin-bottom: 0;
        }
    }
}
.singel__team-content {
	h3 {
		a {
			color: var(--clr-common-white);
            display: block;
            margin-bottom: 5px;
            &:hover{
                color: var(--clr-theme-1);
            }
		}
	}
	span {
		color: var(--clr-common-white);
		margin-bottom: 10px;
		display: block;
        text-transform: capitalize;
	}
}
.singel__team-social {
    @include flexbox();
    align-items: center;
    justify-content: center;
    gap: 20px;
	a {
		color: var(--clr-common-white);
		font-size: 18px;
        &:hover{
            color: var(--clr-theme-1);
        }
	}
}

.singel__team-thumb {
    &:hover {
        &::before {
            opacity: 0.8;
            visibility: visible;
        }
        .singel__team-content {
            opacity: 1;
            visibility: visible;
            margin-bottom: 0;
        }
    }
}


// Team founder
.founder-sub__title {
    font-size: 14px;
    font-weight: var(--bd-fw-bold);
    color: var(--clr-theme-1);
    text-transform: capitalize;
}
.founder-section__title {
	font-size: 50px;
}
.team {
    &__founder {
        &-main {
            margin-left: 50px;
            @media #{$xs,$sm,$md,$lg}{
                margin-left: 0;
            }
        }
        &-thumb {
            padding-right: 20px;
            @media #{$xs,$sm,$md}{
                padding-right: 0;
            }
            img {
                @include border-radius(6px);
                width: 100%;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-bottom: 40px;
        }
        &-item {
            display: flex;
            gap: 25px;
            align-items: center;
            &-icon {
                width: 50px;
                height: 50px;
                display: inline-flex;
                align-items: center;
                justify-content: space-evenly;
                @include border-radius(50px);
                overflow: hidden;
                position: relative;
                color: var(--clr-common-white);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: -webkit-linear-gradient(0deg, #0ed5fa 0%, #684cb1 100%);
                &:after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background: var(--clr-bg-grey-4)
                }
            }
        }
        &-text {
            .contact {
                a {
                    font-weight: var(--bd-fw-bold);
                    font-size: 20px;
                    &:hover {
                        color: var(--clr-theme-1);
                    }
                }
            }
            .title {
                font-size: 14px;
                color: var(--clr-text-4);
            }
        }
    }
}

// Acivement Style
.archivement {
    &__box{
        padding-left: 50px;
        @media #{$lg} {
            padding-left: 30px;
        }
        @media #{$xs,$sm,$md,$lg} {
            padding-left: 0px;
        }
    }
    &__title h3 {
        font-size: 26px;
        margin-bottom: 25px;
    }
    &__title {
        p {
            margin-bottom: 33px;
            font-size: 18px;
            @media #{$lg}{
                font-size: 16px;
            }
        }
    }
}