$colors: (
    common: (
        white: #ffffff,
        black: #000,
        placeholder: #c6c6c6,
        heading: #1f242c,
        body-text: #1f242c,
    ),
    theme: (
        1: #43baff,
        2: #0a0a09,
        3: #6f6abf,

    ),
    text: (
        1:#999999, 
        2:#aaaaaa,
        3:#141d38,
        4:#777777,
        5:#bdbdbd,
        6:#e4e4e5,
        7:#7b818d,
        8:#8f96a0,
        9:#a7adb8,
    ),
    bg: (
        black-russian:#1a1e25,
        grey-1:#f7f7f7,
        grey-2:#f8f8f8,
        grey-3:#f3f3f3,
        grey-4:#f2f3f5,
        charcoal:#232932,
        footer: #1a1e25,
    ),
    border: (
        1: #344166,
        2: #ebeff3,
        3: #f6f6f6,
        4: #22262e,
        5: #f4f4f4,
        6: #f9f9f9,
        7:#ececec,
        8:#5ca1df,
        9:#eeeeee,
        10:#ededed,
        11:#f0f0f5,
    ),
    footer: (
        
        1: #9ba1ad,
    )
);
  